.game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;

  .controls-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .player {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;

    h2 {
      margin-bottom: 10px;
      color: #333;
      font-size: 24px;
    }

    .diceContainer {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin: 15px 0;
      padding: 18rem;
    }

    p {
      margin: 5px 0;
      font-size: 10px;
    }
  }
}
