@use "../../assets/styles/Variables.module.scss" as v;

@font-face {
  font-family: "Mexican Fiesta";
  src: url("../../assets/mexican_fiesta/mexican_fiesta_Bold.ttf");
}

.player {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;

  //   PLAYER 2
  &:nth-child(2) {
    background-color: v.$player_2_primary;
    h2 {
      color: v.$player_2_accent;
    }
  }

  //   PLAYER 1
  &:nth-child(1) {
    background-color: v.$player_1_primary;
    h2 {
      color: v.$player_1_accent;
    }
  }

  h2 {
    font-family: "Mexican Fiesta";
    margin-bottom: 10px;
    color: #333;
    font-size: 24px;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.5), 1px -1px rgba(255, 255, 255, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5);
    font-size: 10vh;
  }

  .diceContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
    padding: 18rem;
  }

  p {
    margin: 5px 0;
    font-size: 10px;
  }
}
