// #region COLORS

// #region RED
$red_dark: #b0302f;
$red_medium: #c0595a;
$red_light: #d18383;
// #endregion

// #region BLUE
$blue_dark: #3575a1;
$blue_medium: #5d91b6;
$blue_light: #87acc7;
// #endregion

// #region UMBER
$umber_dark: #cf6a00;
$umber_medium: #d98934;
$umber_light: #e2a667;
// #endregion

// #region YELLOW
$yellow_dark: #eb8f2c;
$yellow_medium: #eea556;
$yellow_light: #f3bd81;
// #endregion

// #region GREEN
$green_dark: #276124;
$green_medium: #51814f;
$green_light: #7ca07c;
// #endregion

// #region MAGENTA
$magenta_dark: #b0367f;
$magenta_medium: #c05e99;
$magenta_light: #cf86b3;
// #endregion

// #endregion

// #region PLAYER 1
$player_1_primary: $blue_medium;
$player_1_secondary: $blue_dark;
$player_1_accent: $red_dark;
// #endregion

// #region PLAYER 2
$player_2_primary: $yellow_medium;
$player_2_secondary: $yellow_dark;
$player_2_accent: $red_dark;
// #endregion
